@import url("https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet");

* {
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    text-align: center;
    margin: 2% 0;
}

.information {
    width: 100%;
    background-color: #62008F;
}

.information .text {
    padding: 5% 0;
    color: white;
    font-weight: bold;
    vertical-align: top;
    text-align: left;
    width: 80%;
    margin-left: 10%;
}

.smallCharts {
    padding: 2%;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.column img {
    min-width: 250px;
}

.column .caption {
    width: 80%;
    margin-left: 10%;
}