@import url("https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet");

* {
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    text-align: center;
    margin: 2% 0;
}

.information {
    width: 100%;
    background-color: #62008F;
}

.information .text {
    padding: 5% 0;
    color: white;
    font-weight: bold;
    vertical-align: top;
    text-align: left;
    width: 80%;
    margin-left: 10%;
}

.smallCharts {
    padding: 2%;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.column img {
    min-width: 250px;
}

.column .caption {
    width: 80%;
    margin-left: 10%;
}

.signin {
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}

.signin input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.signin button {
    background-color: #62008F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.signin button:hover {
    opacity: 0.8;
}

.banner {
    width: 100%;
    padding: 2% 10%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 5px solid #f00;
}

.redbold {
    font-size: 1.25em;
    font-weight: bold;
    color: red;
}