.navigation {
    width: 100%;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
    display: inline-block;
    vertical-align: middle;
}

img {
    max-width: 100px;
    display: inline-block;
    vertical-align: middle;
}

.boldPurple {
    color: #62008F;
    font-weight: bold;
}

.name {
    font-size: 2.5em;
    display: inline-block;
    vertical-align: middle;
}

.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 15px;
    vertical-align: middle;
}

.linkItem {
    text-decoration: none;
    padding: 14px 16px;
    color: black;
    display: inline-block;
    font-size: 1.25em;
    border-bottom: 3px solid white;
}

.linkItem:hover {
    border-bottom: 3px solid #62008F;
    color: #62008F;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdownItem{
    padding: 10px;
    margin: 0;
    text-decoration: none;
    font-size: 1em;
    color: black;
    display: block;
}

.dropdownItem:hover {
    background-color: #EBC1FF;
}